.docButton {
  padding: 1rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  color: var(--ifm-color-primary);
  border: 1px solid currentColor;
  background: transparent;
}

.docButton:hover,
.docButton:focus {
  color: var(--ifm-color-secondary)
}