.responsiveRow {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4rem;
  align-items: end;
}

.projectLogoMain {
  max-height: 6rem;
  margin: 1rem 0;
}

.projectLogo {
  max-height: 4rem;
  margin: .5rem 0;
}

@media (max-width: 767px) {
  .responsiveRow {
    grid-template-columns: 1fr;
  }
}